body {
	background: black;
}

#logo {
	max-width: 20%;
	display: block;
	margin: auto;
}

nav {
	float: right;
	margin: 5px 15px 15px 0;
	font-size: 26px;
	font-family: 'Quintessential', cursive;
}

.nav-titulo {
	float: left;
	margin: 5px 0 15px 15px;
	font-size: 26px;
	font-family: 'Quintessential', cursive;

}

.container {
	background: white;
}

.in-box {

}

img {
	max-width: 100%;
	display: block;
	margin: auto;
}